.encabezado{
    height: 20pc;
    width: 100%;
}

* {margin: 0;padding: 0;}    
nav {background: #ff9720;width: 100%;}
ul {padding: 0;margin: 0 auto;width: 80%;}
ul li {list-style: none;display: inline-block;padding:20px;}
/* ul li:hover {background: #e91e63;}*/
ul li a {color: #fff;text-decoration: none;}
.toggle {width: 100%;padding: 10px 20px;background: #ff9720;text-align: right;box-sizing:border-box;color: #fff;font-size: 30px;display:none;}


@media only screen and (max-width: 768px) {
  .toggle {display: block;}
  ul {width: 100%;display: none;}
  ul li {display: block;text-align: center;}
  .active {display: block;}
}

.boton {
    -webkit-transition-duration: 0.4s; /* Safari */
    border-radius: 5px;
    background-color: transparent;
    transition-duration: 0.4s;
    
}
.hover {
    background-color: #da790a; /* Green */
  color: white;
}

.button {
    background-color: transparent; /* Green */
    border: none;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1:hover {
  background-color:  #da790a;
  color: white;
}

